@import 'tailwindcss';
@import './normalize.css';
@import './globals.css';
@import './webfont.css';

@theme {
    --font-mono: var(--font-sans), system-ui, -apple-system, PingFang SC, "Microsoft YaHei", Segoe UI, Roboto, Helvetica, noto sans sc, hiragino sans gb, "sans-serif", Apple Color Emoji, Segoe UI Emoji, Not Color Emoji;
    --font-serif: "Noto Serif CJK SC", "Noto Serif SC", var(--font-serif), "Source Han Serif SC", "Source Han Serif", source-han-serif-sc, SongTi SC, SimSum, "Hiragino Sans GB", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    --font-mono: "OperatorMonoSSmLig Nerd Font", "Cascadia Code PL", "FantasqueSansMono Nerd Font", "operator mono", JetBrainsMono, "Fira code Retina", "Fira code", "Consolas", Monaco, "Hannotate SC", monospace, -apple-system;
    --size-em: 1em;
    --contrast-82: 0.82;
}
